:root {
  --bg-color: white;
  --text-color: black;
  --hover-color: rgb(177, 215, 210);
}

body.dark {
  --bg-color: rgb(30, 32, 34);
  --text-color: white;
  --hover-color: rgb(143, 236, 216);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  height: 100vh;
  transition: all 200ms;
}

ul {
  padding: 0 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  position: absolute;
  bottom: 40px;
  left: 32px;
  z-index: 10;
}

a:visited {
  color: var(--text-color);
}

pre {
  margin: 0;
  color: var(--text-color);
}

.introduction {
  padding: 8px 32px;
  height: 380px;
  /* background-color: white; */
}

.home-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.a-container {
  /* margin-top: 20px; */
  margin-left: 800px;
}

.home:hover {
  color: var(--hover-color);
  transition: all 200ms;
}

.sign {
  margin-left: 800px;
}

.link-list {
  position: absolute;
  top: 440px;
  left: 32px;
  z-index: 10;
}

.link {
  /* text-decoration-line: underline; */
  text-decoration-line: none;
  font-style: italic;
  color: var(--text-color);
  font-size: 14px;
}

.link :hover {
  color: var(--hover-color);
}

.project-list-1 {
  position: absolute;
  top: 440px;
  left: 315px;
  z-index: 10;
}

.project-list-2 {
  position: absolute;
  top: 440px;
  left: 616px;
  z-index: 10;
}
