body {
  margin: 0;
  height: 100vh;
  /* background-color: black; */
}

ul {
  padding: 0 24px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black; /* 방문한 후에도 검은색 유지 */
}

pre {
  margin: 0;
  color: black;
}

.introduction {
  padding: 8px 32px;
  height: 380px;
  /* background-color: white; */
}

.home-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.a-container {
  /* margin-top: 20px; */
  margin-left: 800px;
}

.home:hover {
  color: rgb(177, 215, 210);
  transition: all 200ms;
}

.sign {
  margin-left: 800px;
}

.link-list {
  position: absolute;
  top: 200px;
  left: 32px;
}

.link {
  text-decoration-line: underline;
}
